.body{
    margin: 0;
    display: flex;
    margin-left: 200%;
}

.container{
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container{
    display: flex;
    margin-bottom: 10px;
}

.input-container input{
    flex: 1;
    padding: 8px;
    border: 1px solid #0b0e12;
    border-radius: 5px;
}

.input-container button{
    padding: 7px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-list{
    list-style: none;
    padding: 0;
}

.task-item{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 6px;
    border: 1px solid blue;
    border-radius: 5px;
}

.task-item button.edit-btn{
    background-color: #0b0e12;
    margin-left: 10px;
}

.task-item-button-edit{
    background-color: #0b0e12;
    margin-left: 3px;
}

.task-item-button-complete{
    background-color: #0b0e12;
    margin-left: 3px;
}

.task-item-button-delete{
    background-color: #0b0e12;
    margin-left: 3px;
}

.center-text{
    text-align: center;
}

.completed {
    text-decoration: line-through;
    color: #999;
}


@media only screen and (max-width: 600px) {
    .container
    .center-text
    .input-container
    .task-item
    .task-item-button-edit
    .task-item-button-complete
    .task-item-button-delete
    .task-list {
        max-width: 100%;
    }   
}